/* CORES */
.text-blue {
  color: #25ccff;
}

.bg-blue {
  background-color: #25ccff;
}

.btn-blue {
  background-color: #25ccff;
  color: #fff;
}

.btn-blue:hover {
  background-color: #25ccff;
  color: #fff;
  opacity: 0.9;
}

::selection {
  color: #fff;
  background: #25ccff;
}

body {
  background-color: #000000;
  font-family: "Segoe UI", "Lato", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

.area-carousel {
  background-color: #000;
  img {
    opacity: 0.8;
  }

  #carousel {
    width: 100%;

    img {
      width: 100%;
      height: 400px;
    }

    .carousel-control-next {
      width: 40%;
    }
  }
}

footer {
  background-color: #0f1116;

  & .social-media {
    font-size: 1.6em;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}
